h1{
    margin-top: 0;
    font-weight: 600;
    margin: 8px 0 10px 0;
    line-height: normal;
    background: linear-gradient(to right, #6e0d6e 0%, #d9bff2 100%);color: #fff!;padding: 0px 15px;
}    